<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= user.imageName %>" data-test="user-image">
      <div class="user-info">
        <h2 data-test="user-name"><%= user.name %></h2>
        <p data-test="user-email"><%= user.email %></p>
      </div>
      <div class="follow-info">
        <a href="" class="followers"><span class="follow-count">3</span>Followers</a>
        <a href="" class="following"><span class="follow-count">3</span>Following</a>
      </div>
      <% if(currentUser.id === user.id) { %>
        <a href="<%= `/users/${user.id}/edit` %>" class="user-edit">Edit</a>
      <% }else{ %>
        <%# if(!hasfollow) { %>
          <form action="" method="POST">
            <button type="submit" class="follow-btn follow">Follow</button>
          </form>
        <%# } else { %>
          <form action="" method="POST">
            <button type="submit" class="follow-btn unfollow">
              <span>Following</span>
              <span>Unfollow</span>
            </button>
          </form>
        <%# } %>
      <% } %>
    </div>
    <ul class="user-tabs">
      <li class="active">
        <a href="<%= `/users/${user.id}` %>">Posts</a>
      </li>
      <li>
        <a href="<%= `/users/${user.id}/likes` %>">Likes</a>
      </li>
    </ul>
    <%- include('../_timeline', {timeline: timeline}); %>
  </div>
</div>
